{
  "twitch_channel": "",
  "twitch_username": "",
  "twitch_oauth_token": "",
  "twitch_client_id": "",
  "youtube_api_key": "",
  "youtube_broadcast_id": "",
  "youtube_client_id": "",
  "youtube_client_secret": "",
  "youtube_refresh_token": "",
  "youtube_access_token": "",
  "youtube_token_expiry": 0,
  "ws_port": 8765
}
